# Ambiente Virtual Python
ambiente_virtual/
venv/
.venv/
env/

# Arquivos de Cache e Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do Jupyter Notebook / Checkpoints
.ipynb_checkpoints/

# Configurações de IDE / Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
